@font-face {
  font-family: PoetsenOne;
  src: url('../assets/Fonts/PoetsenOne-Regular.ttf');
}

/* General styles */
body{
  margin: 0;
  overflow: hidden;
}
.home {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

/* Left page styles */
.home .left-homepage {
  flex-grow: 1;
  flex-shrink: 0;
  background-color: #333;
  height: calc(100vh - 75px);
  font-family: PoetsenOne, sans-serif;
  font-size: 28px;
  cursor: default;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 0;
  margin-top: 75px;
}
.home .left-homepage div {
  /* flex-grow: 1; */
  margin-top: 28px;
  /* margin-bottom: 5vh; */
}
.home .left-homepage div svg{
  padding-right: 16px;
}
.home .left-homepage div span {
  color: #e6ecf0;
  text-decoration: none;
  /* flex-grow: 1; */
  margin-top: 5vh;
  /* margin-bottom: 5vh; */
}

/* Right page styles */
.home .right-homepage {
  flex-grow: 1;
  flex-shrink: 0;
  background-color: #b89c3f;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 75px;
}
.home .right-homepage .right-title {
  font-family: PoetsenOne, sans-serif;
  font-size: 40px;
  color: #e6ecf0;
  margin-bottom: 30px;
}
.home .right-homepage .right-title span {
  padding: 50px;
  display: block;
  width: calc(400px + 6vw);
}
.home .right-homepage .right-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: stretch;
  font-size: 28px;
  font-family: PoetsenOne, sans-serif;
  color: #e6ecf0;
}
.home .right-homepage .right-buttons > * {
  flex-basis: 0;
  flex-grow: 1;
  border-radius: 60px;
  border: 4px solid #333;
  padding: 4px;
  margin-left: 8px;
  padding-left: 6vw;
  padding-right: 6vw;
}
.home .right-homepage .right-buttons .join-button {
  margin-bottom: 40px;
}
.join-button a, .create-button a {
  text-shadow: 0 0 10px #333;
}

/* Right button animations */
.create-button, .join-button {
  user-select: none;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent 50%, #333 50%);
  transition: background .5s ease-in-out;
}
.create-button:hover {
  background-position: -99.9% -100%;
  cursor: pointer;
}
.join-button:hover {
  background-position: 100% 100%;
  cursor: pointer;
}

/* Popup */
.popup {
  position: absolute;
  z-index: 3;
  margin-left: calc(50vw - 200px);
  margin-top: calc(50vh - 23.5px);
}
#cancel {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
  z-index: 2;
}
form input {
  caret-color: #b89c3f;
  outline-width: 0px;
  font-size: 40px;
  background: transparent;
  color: #e6ecf0;
  border: none;
  border-bottom: 5px solid #b89c3f;
}
form button {
  outline-width: 0px;
  margin-top: 40px;
  margin-left: 100px;
  display: block;
  width: 200px;
  height: 70px;
  font-size: 28px;
  font-family: PoetsenOne;
  background-color: #b89c3f;
  color: #e6ecf0;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
}
form button:hover {
  background-color: #886c0f;
  color: #b6bcc0;
}
#errorText {
  position: absolute;
  margin-top: 5px;
  margin-left: 80px;
  color: #b83f75;
  font-family: sans-serif;
  font-size: 18px;
}
